#alias ls="ls --color=tty -F -p -h"
#alias ll='ls -l'
alias psu='ps -aef | grep $USER'
alias pdb='/usr/lib/python3.6/pdb.py'
alias qf='grep -nrsiI  '
alias qfc='grep -nrsI --include="*.py" --include="*.h" --include="*.hpp" --include="*.hxx" --include="*.hh" --include="*.c" --include="*.cpp" --include="*.cc" --include="*.cxx"  '
alias xterm=_xterm
alias tmux='tmux -f ~/work/dotfiles/.tmux.conf'
alias news='newsbeuter -r -u ~/work/reading/newsbeuter/urls -c ~/work/reading/newsbeuter/cache.db'
if type nvim > /dev/null 2>&1; then
  alias vim='nvim'
fi
alias lsmem='ps aux --sort=-%mem | awk "NR<=20{print \$0}" '
